# Binários
api
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testes
*.test
*.out

# Dependências
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Internal
internal/docs/**
.gitmessage
.cursorrules
